@{
    ViewBag.Title = "Janko Jekić";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Juhorska 2/8<br />
    Beograd 11060<br />
    <abbr title="Phone">P:</abbr>
    064 101 6338
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jjekic@icloud.com">jjekic@icloud.com</a><br />
</address>